.listBlock {
  height: 85%;
  margin-bottom: 40px;
}

.list {
  font-weight: 500;
  text-decoration: underline;
  font-size: 40px;
  color: black;
  //text-transform: capitalize;
  margin: 0;
  line-height: 40px;
}

.listSubHead {
  font-weight: 1000;
  font-size: 40px;
  text-transform: capitalize;
  margin: 0;
}
