.container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  top: 500px;
  right: 95px;
  max-height: 1600px;
  width: 1700px;
  background: 62px 44px no-repeat url("./background - lines.png"), white;
  transition: transform 0.8s;
  padding: 44px;

  &_inner {
    padding: 95px 15px 0 155px;
    width: 1640px;
  }

  &__hide {
    transform: translateX(2000px);
  }
}
