.list {
  font-weight: 500;
  text-decoration: underline;
  font-size: 40px;
  color: black;
  text-transform: capitalize;
  margin: 0;
  line-height: 40px;
}

.container {
  margin-top: 20px;
}

.emptyDiv {
  width: 44px;
  height: 44px;
  display: inline-block;
}
